
// Body

// Borders

// Brands
$dgl-primary: #8381F7;
$dgl-gray: #5E5E6B;
$dgl-lightgray: #CECEEB;
$dgl-lightergray: #EEEBFA;
$dgl-darkergray: #2F2F36;

// Typography
$font-header: "Titillium Web", sans-serif;


// Panels
