
// Fonts

// Variables
@import "variables";


// Generic
.font-primary-color{
  color: $dgl-primary;
}

.font-primary-700b{
  font-family: $font-primary;
  font-weight: 700;
}
.font-primary-700bi{
  font-family: $font-primary;
  font-weight: 700;
  font-style: italic;
  //padding-bottom: 5px;
}

.faded{
  opacity: .3;
}
//Bootstrap overrides.
.white-border{
  border-color: #FFF !important;
}

.lightgray-border{
  border-color: #CECEEB !important;
}

// Componenets
body{

  #alertBannerTop{
    background-color: $dgl-primary;
  }
  .navbar{ // bootstrap override
    padding: 0 !important;
  }

  .navbar-dgl-background{
    background-color: $dgl-gray;
  }

  .navbar-dgl{
    .navbar-toggler-icon{
    background-image: url('/storage/hamburger.svg')
    }
    a{
      color: $dgl-lightgray;
      font-family: $font-primary;
      font-weight: 700;

      &:hover{
        color: #FFF;
        background-color: $dgl-primary;
      }

      button{ //bootstrap override
        color: #FFF;
        border-color: #FFF !important;
      }
    }

    li{
      a{
        padding-right: 1vw !important;
        padding-left: 1vw !important;
      }
    }
  }



  .top-banner{
    background-color: $dgl-primary;
    padding : 10px 0;
    color: #FFF;
    font-weight: 700;
  }

  //.title-banner-img{
  //  width : 75px;
  //}

  .title-banner-img-container{
    width : 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    min-width: 75px;
    max-width: 100px;
  }

  .title-row{
    background-color: $dgl-lightergray;
  }
  .banner-background{
    background-color: $dgl-darkergray;
  }
  .footer {
    background-color: $dgl-darkpuple;
    border-top: 15px solid $dgl-primary;
    margin-top: 2em;
    padding-top: 2em;
    font-family: $font-primary;

    a{
      color: #5E5E6B;
      font-family: $font-primary;
      font-weight: 700;
      text-decoration: none;
    }
    h2, h3, h5 {
      font-family: $font-primary;
      font-weight: 700;
      line-height: 1em;

    }

    .footer-text {

      height: 25vw;



      .footer-list-div{
        //float : left;
        //display: inline;
        min-width : 100px;
        //border : 1px solid black;
        //margin-top : 1em;
      }

    }
  }

  .flex-container{
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height : 300px;

  }
}