
// Fonts
// Variables
@import "variables";
// Generic

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $dgl-darkish-gray;
  margin: 1em 0;
  padding: 0;
}

span.scoretag{
  font-size: .8em;
  font-weight: bolder;

  border-radius: 7px; max-width: 75px;
  margin-left: auto; margin-right: auto
}
span.scoretag.passive{
  background-color: #666; color: #DDD;
}

span.scoretag.active{
  background-color: $dgl-purple; color: #DDD;
}

//PAGE SPECIFIC BACKGROUNDS
.background-a-tournament{
  background-size: cover;
}


.jumbotron-atournament{
  background-size: cover !important;
  background-position: center !important;


  .tournament-name-row + div{
    height: 35vh;
  }
}
.jumbotron-fluid{
  position: relative;
  overflow: hidden;
  padding: auto;
  z-index: 1;
  color: #FFF;
  padding-bottom: 3em;
  h1{
    font-weight: 900;
  }
}

.tournament-overview-container{
  span{
    // for team names in the fixtures/results
    font-family: $font-primary;
  }
}

.card { //set a back color

  .card-body{
    color: #FFF;
  }
  .card-link {
    color: #FFF;
    font-weight: 700;
  }
  .card-text{
    color: #FFF;
  }
}

.font-primary-700b{
  font-family: $font-primary;
  font-weight: 700;
}
.font-primary-700bi{
  font-family: $font-primary;
  font-weight: 700;
  font-style: italic;
  //padding-bottom: 5px;
}

.font-primary-900{
  font-family: $font-primary;
  font-weight: 900;
}


.faded{
  opacity: .3;
}

.no-horizontal-padding{
  padding-left: 0;
  padding-right: 0;
}

.thumbnail {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.thumbnail-x {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}
.thumbnail-sq {
  width: 12vw;
  height: 12vw;
  min-width: 100px;
  min-height: 100px;
}

.thumbnail-rect-lg {
  width: 100vw;
  height: 24vw;
  min-width: 100px;
  min-height: 24px;
}

.thumbnail-sq-lg {
  width: 24vw;
  height: 24vw;
  min-width: 100px;
  min-height: 100px;
}

.thumbnail-rect {
  width: 20vw;
  height: 15vw;

  max-width: 300px;
  max-height: 225px;
}

.thumbnail-rect-smscreen { // takes up more of the screen
  width: 86vw;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item
{
  .banner-layer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  p{
    font-family: 'FuturaMedium';
    color: lighten(saturate($dgl-purple, 10%),5%) !important;
    font-weight: 800;
  }
  h1{
    font-family: $font-primary;
    font-size: 50px;
    //text-transform: uppercase;
  }
}

.carousel-control-prev, .carousel-control-next{
  z-index: 10;
}
.carousel-indicators li{
  transform: skewX(-20deg);
  margin-bottom: 0;
  padding-bottom: 7px;
}

.carousel-caption{
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;

}

// Componenets
body{

  //font-size: 15px;
  font-family: $font-copy;
  line-height: 1.618;

  .dgl-ol li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
  }

  /* Output the numbers using the counter() function, but use a custom color, and position the numbers how we want */
  .dgl-ol li:before {
    color: $dgl-primary;
    content: counter(list) ".";
    left: -32px;
    position: absolute;
    text-align: right;
    width: 26px;
  }
  .tag{
    font-family: $font-primary;
    font-weight: 700;
    padding: 0px 2px;
    &:hover{
      background-color: $dgl-purple;
      //color: $dgl-purple;

    }
  }

  //Thumbnail for video
  .video-thumbnail-link{ //thumbnail main <a>
    text-decoration: none;
    color: $dgl-dark;
  .video-thumbnail{
    text-decoration: none;
    position: relative;
    width: 100%;

    img{
      -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    .icon-container {
      background-color: transparent;
      color: $dgl-purple;
      font-size: 50px;
      padding: 16px 32px;
    }
  }

    &:hover{
      color: $dgl-purple;
      img {
        opacity: 0.3;
      }
      .middle {
        opacity: 1;
      }
    } //video-thumbnail
  } // video-thumbnail-link


  .sidebar{
    @media screen and (min-width: 992px) {
      width: 301px;

      .list-group{
        width: 301px;
      }
    }

    @media screen and (max-width: 991px) {
      //width: 150px;

      .list-group{
        width: 60px;
      }
    }
  }

  .table{
    th{
      font-family: $font-primary;
      text-transform: uppercase;
    }
  }

  .fixture-table-primary{
    border: 1px solid $dgl-primary;
  }

  .fixture-table-purple{
    border: 1px solid $dgl-purple;
  }

  .pagination{
    margin-top: 50px;
    margin-bottom: 50px;
    li{
      background-color: $dgl-lightgray;
      display: block;
      margin-left: 2px;
      margin-right: 2px;
      border: 1px solid #FFF;
      transform: skewX(-40deg);


        span, a{
          font-family: $font-primary;
          transform: skewX(40deg);
          display: block;
          margin: auto;
          text-align: center;
          vertical-align: center;
          padding : 0 10px;
          text-decoration: none;
        }
      span{
        color: $dgl-gray;
      }
      a{
        color: #FFF;
        &:hover{
          color: #666;
        }

      }


    }

    li:first-child, li:last-child{
      margin-left: 10px;
      margin-right: 10px;
      background-color: #666;
      &:hover{
        //background-color: $dgl-purple;

        a{
          color: $dgl-blue;
        }
      }
    }

    li.active{
      background-color: $dgl-purple;
      span{
        color: #FFF;
      }
    }

    li.disabled{
      display: none;
    }
  }
  .list-group-item-primary{
    background-color: $dgl-primary !important;
    color: $dgl-darkgray !important;
  }

  .list-group-item-gray{
    background-color: $dgl-gray !important;
    color: $dgl-primary !important;
  }

  .list-group-settings{
    a{
      color: $dgl-purple;
      background-color: #FFF;
    }

    a.active{
      color: #FFF;
      background-color: $dgl-blue;
      border-color: $dgl-purple;
    }
  }
  #alertBannerTop{
    background-color: $dgl-primary;
  }

  #moreButton{
    font-family: $font-primary;
    color: $dgl-purple;
    font-size: 1.4em;
    font-weight: 700;

    &:hover{
      color: $dgl-blue;
      text-decoration: none;
    }
  }

  .team-logo-300-gray{
    width: 100%;
    background-color: $dgl-lightgray;
  }

  .team-logo-300{
    width: 100%;
    background-color: darken(desaturate($dgl-purple, 25%),20%);
  }
  .team-logo-300-trans{
    width: 100%;
    background-color: transparent;
    border: none;


    .sm-md-logo{
      min-width: 50px;
      max-width:  75px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .team-registration{
    padding: 1em;
    //background-color: white;

    label{
      color: $dgl-blue;
    }

    input{
      border-color: $dgl-blue;
      background-color: transparent;
      color: $dgl-blue;

      &:focus{
        background-color: $dgl-blue;
        border-color: $dgl-purple;
        color: $dgl-dark;
      }
    }
    .list-group-item{
      background-color: transparent;
      border-color: $dgl-primary;
    }

    .checkbox{
      color: $dgl-primary;
    }
  }

  .btn-outline-dgl{
    background-color: transparent;
    border-color: $dgl-blue;
    color: $dgl-blue;
    &:hover{
      background-color: $dgl-blue;
      color: #FFF;
    }
  }

  .btn-dgl-contaianer{
    padding: 0;
    background-color: transparent;
    display: inline-block;
    transform: skewX(-10deg);
    border: 3px solid $dgl-blue;
    &:hover{
      background-color: $dgl-blue;
      border-color: $dgl-blue;
      .btn-dgl{
        color: #FFF !important;
      }
    }
  }

  .btn-dgl-contaianer-purple{
    padding: 0;
    background-color: transparent;
    display: inline-block;
    transform: skewX(-10deg);
    border: 3px solid $dgl-purple;
    .btn-dgl{
      color: $dgl-purple !important;
    }
    &:hover{
      background-color: $dgl-purple;
      border-color: $dgl-purple;
      .btn-dgl{
        color: #FFF !important;
      }
    }
  }

  .btn-dgl-container-gray{
    border: 3px solid $dgl-gray;
    &:hover{
      border: 3px solid $dgl-gray;
      background-color: $dgl-gray;
      .btn-dgl{
        color: #FFF !important;
      }
    }
    .btn-dgl{
      color: $dgl-gray !important;
    }
  }

  .btn-dgl-container-primary{
    border: 3px solid $dgl-primary;
    .btn-dgl{
      color: $dgl-primary !important;
    }
    &:hover{
      border: 3px solid $dgl-primary;
      background-color: $dgl-primary;
      .btn-dgl{
        color: $dgl-purple !important;
      }
    }
  }

  .btn-dgl{
    color: $dgl-blue;
    border-width: 0;
    transform: skewX(10deg);
    font-family: $font-primary;
    font-weight: bold;
    &:hover{
      color: #FFF;
    }
    &:focus{
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
    }
    &:active{
      color: #fff;
      background-color: darken(saturate($dgl-primary, 15%),4%);
    }
  }

  .sidebar-header{
    background-color: $dgl-purple;
    transform: skewX(-15deg);

    h5{
      color: #FFF;
      transform: skewX(15deg);
      padding: .4em 2em;
    }
  }

  .nav{//bootstrap-override - for atournament page


    .disabled{
      text-decoration: line-through !important;
      color: $dgl-gray;
    }

  }
  .nav-container{
    //background: linear-gradient(rgba(239,159,60,.3),rgba(239,159,60,.4));
    background-color: $dgl-purple;
    position: relative;
    top: -40px;
    z-index: 1;
    //for tournament sub-menu
    a{
      color: #FFF;

      &:hover{
        color: $dgl-blue;
      }
    }

    a.active{
      color: $dgl-primary;
    }
  }
  .navbar{ // bootstrap override
    padding: 0 !important;
    background-color: $dgl-darkergray;

    .dropdown-item{
      font-family: FuturaMedium, $font-copy;
      font-size: .7em;
      &:hover{
        background-color: $dgl-red;
        color: #FFF;
      }
    }

  }
  .nav-brand{
    a{
      font-family: $font-primary;
      font-weight: 900;
      vertical-align: baseline;
    }
  }


  .navbar-dgl{
    background-color: $dgl-darkgray !important;

    .navbar-brand{
      margin: 0;
    }
    .navbar-toggler-icon{
    background-image: url('/storage/hamburger.svg')
    }
    .navbar-text{
      font-family: $font-primary !important;
      font-size: 1.2em;
    }

    a{
      color: #FFF;
      font-family: $font-primary;
      //font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }
    a.nav-link{
      font-family: FuturaMedium, $font-copy;
      border-bottom: 5px solid transparent;
      font-size: .8em;
      &:hover{
        color: $dgl-blue;
      }
    }

    button{ //bootstrap override
      color: #FFF;
      border-color: $dgl-lightgray !important;
      background-color: $dgl-purple;
      margin-left: 2vw;
    }
    li{
      a{
        padding-right: 1vw !important;
        padding-left: 1vw !important;
      }
    }
  }

  .jumbotron-fluid{
    h1{
      color: $dgl-purple;
      text-transform: uppercase;
    }
    p{
      color: $dgl-lightgray;
    }
  }

  .top-banner{
    background-color: $dgl-primary;
    padding : 10px 0;
    color: #FFF;
    font-weight: 700;
  }

  .banner-row{
    margin-top: 50px;

    .banner-row-background{
      width: 100%; z-index: -2; position: relative;
    }
    h1{
      font-family: $font-primary;
      font-weight: 700;
      font-size: 3rem;
      z-index:2;
      position: absolute;
      top: 40%;
      left: 10%;
      text-transform: uppercase;
      color: #FFF;
      text-shadow: -3px 0 #474d55, 0 3px #474d55, 3px 0 #474d55, 0 -3px #474d55;
    }
    .banner-icon{
      position: absolute;
      z-index: 2;
      top: 40%;
      right: 10%;
    }
  }

  .title-banner-img-container{
    width : 50%;
    padding-bottom: 10px;
    padding-top: 10px;
    min-width: 75px;
    max-width: 100px;

    .title-banner-img{
      vertical-align: baseline;
    }
  }
  .banner-background{
    background-color: $dgl-darkergray;
  }

  .dgl-card-img{
    width: 50%;
    display: block;
    margin: 2em auto 0 auto;
  }

  .main{
    background-color: #FFF;
  }

  .main-slot{

  }
  .post-body{
    padding-bottom: 1em;

    background-color: transparent;
    .post-link {
      text-decoration: none;
      .post-title {

        color: $dgl-gray;
        text-decoration: none;
        margin-top : 5px;
      }
    }
  }

  .post-body-hover{
    &:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #FFF;
      border: 1px solid $dgl-purple;
      cursor: pointer;


      .post-title{
        color: $dgl-purple;
      }
    }
  }

  //Footer
  .footer {
    background-color: $dgl-darkgray;
    padding-top: 2em;
    font-family: $font-primary;
    h5{
      font-family: 'FuturaMedium', $font-primary;
      //font-weight: bold;
      font-size: 1rem;
    }
    a{
      color: $dgl-gray;
      font-family: $font-copy;
      //font-weight: 700;
      text-decoration: none;

      &:hover{
        color: #FFF;
      }
    }

    .footer-text {
      height: 25vw;
      .footer-list-div{
        min-width : 175px;
      }
    }

    p{
      font-family: 'FuturaMedium' , $font-copy;
    }
  }

  #footerFlexContainer{
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height : 300px;

  }
  .footer-banner-img{
    opacity: .7;
  }
}