
// Fonts
// Variables
@import "variables";


// Generic
.font-primary-color{
  color: $dgl-primary;
}

.back-color-primary{
  //background-color: darken($dgl-primary, 5%);
  background-color: $dgl-primary;
}

.back-color-orange{
  background-color: $dgl-orange;
}
.back-color-primary-hover{
  background-color: darken($dgl-primary, 5%);
  border-top: 1px solid white;

  &:hover{
    background-color: darken($dgl-primary, 10%);
  }
}
.back-color-orange-hover{
  border-top: 1px solid white;
  &:hover{
    background-color: saturate(darken($dgl-orange, 5%),15%);
  }
}


h1, h2, h3, h5 {
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1em;

}

p {
  font-family: $font-copy;
  //font-size: 18px;
}

.jumbotron-fluid{
  //background-repeat: no-repeat;
  //background-size: 100% 100%;
  //style="background-image: url('{{URL::asset('storage/hearthstone.jpg')}}');"
  position: relative;
  overflow: hidden;
  padding: auto;
  //min-height: 50vh;
  z-index: -4;
  //img {
  //  position: absolute;
  //  //left: 50%;
  //  //top: 100%;
  //  z-index: -3;
  //  width: 100%;
  //  height: auto;
  //  //-webkit-transform: translate(-50%,-50%);
  //  //-ms-transform: translate(-50%,-50%);
  //  //transform: translate(-50%,-50%);
  //}
}
.card { //set a back color

  .card-body{
    color: #FFF;
  }
  .card-link {
    color: #FFF;
    font-weight: 700;
  }
}

.font-primary-700b{
  font-family: $font-primary;
  font-weight: 700;
}
.font-primary-700bi{
  font-family: $font-primary;
  font-weight: 700;
  font-style: italic;
  //padding-bottom: 5px;
}

.font-primary-900{
  font-family: $font-primary;
  font-weight: 900;
}

.mt-10{
  margin-top : 7em;
}
.pr-6{
  padding-right: 4rem !important;
}
.faded{
  opacity: .3;
}

.no-horizontal-padding{
  padding-left: 0;
  padding-right: 0;
}

.thumbnail {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.thumbnail-sq {
  width: 12vw;
  height: 12vw;
  min-width: 100px;
  min-height: 100px;
}

.thumbnail-rect {
  width: 20vw;
  height: 15vw;

  max-width: 300px;
  max-height: 225px;
}

.thumbnail-rect-smscreen {
  width: 86vw;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
}

//Bootstrap overrides.
.white-border{
  border-color: #FFF !important;
}

.lightgray-border{
  border-color: #CECEEB !important;
}

// Componenets
body{

  //width: 100vw;

  #alertBannerTop{
    background-color: $dgl-primary;
  }

  #moreButton{
    font-family: $font-primary;
    color: $dgl-primary;
    font-size: 1.4em;
    font-weight: 700;

    &:hover{
      color: $dgl-orange;
      text-decoration: none;
    }
  }
  .navbar{ // bootstrap override
    padding: 0 !important;
  }

  .nav-brand{
    a{
      font-family: $font-primary;
      font-weight: 900;
      vertical-align: baseline;
    }
  }

  .navbar-dgl-background{
    background-color: $dgl-gray !important;
  }

  .navbar-dgl{
    .navbar-toggler-icon{
    background-image: url('/storage/hamburger.svg')
    }
    a{
      color: $dgl-lightergray;
      font-family: $font-primary;
      font-weight: 700;

      &:hover{
        color: #FFF;
        background-color: $dgl-primary;
      }
    }
    button{ //bootstrap override
      color: #FFF;
      border-color: $dgl-lightgray !important;
      background-color: $dgl-primary;
      margin-left: 2vw;
    }
    li{
      a{
        padding-right: 1vw !important;
        padding-left: 1vw !important;
      }
    }
  }



  .top-banner{
    background-color: $dgl-primary;
    padding : 10px 0;
    color: #FFF;
    font-weight: 700;
  }

  .footer-banner-img{
    opacity: .7;
  }

  .title-banner-img-container{
    width : 50%;
    padding-bottom: 10px;
    padding-top: 10px;
    min-width: 75px;
    max-width: 100px;

    .title-banner-img{
      vertical-align: baseline;
    }
  }
  .banner-background{
    background-color: $dgl-darkergray;
  }

  .dgl-card-img{
    width: 50%;
    display: block;
    margin: 2em auto 0 auto;
  }

  .main{
    //background: linear-gradient($dgl-gray, $dgl-lightergray);
    ///background: linear-gradient(#FFF, #9696AB);
    background-color: $dgl-lightestgray;//lighten($dgl-darkergray, 65%);
  }

  .post-body{
    padding-bottom: 1em;
    //border : 1px dashed $dgl-orange;
    //border-bottom-width: .45vw;
    //border-bottom-style: solid;
    //border-bottom-color : $dgl-orange;

    background-color: #FFF;
    .post-link {
      text-decoration: none;
      .post-title {

        color: $dgl-gray;
        text-decoration: none;
        margin-top : 5px;
        &:hover {
          color: $dgl-orange;

        }
      }
    }

    &:hover{
      //box-shadow: 5px 5px $dgl-primary;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .footer {
    background-color: $dgl-darkergray;
    background: linear-gradient($dgl-darkish-gray , $dgl-darkergray);
   // border-top: 2px dashed $dgl-primary;

    padding-top: 2em;
    padding-bottom : 20px;
    font-family: $font-primary;

    a{
      color: $dgl-gray;
      font-family: $font-primary;
      font-weight: 700;
      text-decoration: none;

      &:hover{
        color: #FFF;
      }
    }

    .footer-text {

      height: 25vw;



      .footer-list-div{
        //float : left;
        //display: inline;
        min-width : 175px;
        //border : 1px solid black;
        //margin-top : 1em;
      }

    }

    p{
      font-family: $font-copy;
    }
  }

  .flex-container{
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height : 300px;
    border-bottom : 1px solid $dgl-darkish-gray;

  }
}