hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #363636;
  margin: 1em 0;
  padding: 0;
}

.font-primary-color {
  color: #EF9F3C;
}

.font-gray {
  color: #454545;
}

.font-white {
  color: #FFF;
}

.font-blue {
  color: #00A0EA;
}

.font-purple {
  color: #5c60a8;
}

.font-alternate-color {
  color: #ffb75f;
}

.back-color-primary {
  background-color: #EF9F3C;
}

.back-color-purple {
  background-color: #5c60a8;
}

.back-color-darkgray {
  background-color: #2B2B2A;
}

.back-color-lightgray {
  background-color: #EAEAEB;
}

.back-color-lightergray {
  background-color: #B6B9BD;
}

.back-color-primary-grad {
  background-image: radial-gradient(circle, #EF9F3C 0%, #ce7911 100%);
}

.back-color-primary-grad:hover {
  background-image: radial-gradient(circle, #f7cd9a 0%, #f1ab54 100%);
}

.back-color-purple-grad {
  background-image: radial-gradient(circle, #5c60a8 0%, #404378 100%);
}

.back-color-purple-grad:hover {
  background-image: radial-gradient(circle, #9fa1cb 0%, #6d70b1 100%);
}

.back-color-orange {
  background-color: #EF9F3C;
}

.back-color-primary-hover {
  background-color: #ed9324;
  border-top: 1px solid white;
}

.back-color-primary-hover:hover {
  background-color: #e58713;
}

.back-color-orange-hover {
  border-top: 1px solid white;
}

.back-color-orange-hover:hover {
  background-color: #ff9513;
}

.background-news {
  background: radial-gradient(rgba(96, 92, 168, 0.2) 1%, #605ca8 100%), url("/storage/bh.jpg");
  background-size: cover;
  z-index: -2;
}

.background-tournament {
  background: radial-gradient(rgba(96, 92, 168, 0.2) 1%, #605ca8 100%), url("/storage/hearthstone.jpg");
  background-size: cover;
  z-index: -2;
}

.background-a-tournament {
  background-size: cover;
}

.overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  /*can be anything, of course*/
}

h1,
h2,
h3,
h5 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  line-height: 1em;
}

p {
  font-family: "Open Sans", "Helvetica", "Arial";
  color: #EAEAEB;
}

.jumbotron-atournament {
  background-size: cover !important;
  background-position: bottom !important;
}

.jumbotron-atournament .tournament-name-row + div {
  height: 35vh;
}

.jumbotron-fluid {
  position: relative;
  overflow: hidden;
  padding: auto;
  z-index: 1;
  color: #FFF;
  padding-bottom: 3em;
}

.jumbotron-fluid h1 {
  font-weight: 900;
}

.card .card-body {
  color: #FFF;
}

.card .card-link {
  color: #FFF;
  font-weight: 700;
}

.font-primary-700b {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

.font-primary-700bi {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.font-primary-900 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
}

.mt-10 {
  margin-top: 7em;
}

.pr-6 {
  padding-right: 4rem !important;
}

.faded {
  opacity: .3;
}

.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

.thumbnail {
  position: relative;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail-x {
  position: relative;
  overflow: hidden;
}

.thumbnail-x img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail-sq {
  width: 12vw;
  height: 12vw;
  min-width: 100px;
  min-height: 100px;
}

.thumbnail-rect-lg {
  width: 100vw;
  height: 24vw;
  min-width: 100px;
  min-height: 24px;
}

.thumbnail-sq-lg {
  width: 24vw;
  height: 24vw;
  min-width: 100px;
  min-height: 100px;
}

.thumbnail-rect {
  width: 20vw;
  height: 15vw;
  max-width: 300px;
  max-height: 225px;
}

.thumbnail-rect-smscreen {
  width: 86vw;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.white-border {
  border-color: #FFF !important;
}

.lightgray-border {
  border-color: #CECEEB !important;
}

.carousel-indicators li {
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

body {
  /* Output the numbers using the counter() function, but use a custom color, and position the numbers how we want */
}

body .dgl-ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}

body .dgl-ol li:before {
  color: #EF9F3C;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}

body .tag {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  padding: 0px 2px;
}

body .tag:hover {
  background-color: #5c60a8;
}

body .list-group-item-primary {
  background-color: #EF9F3C !important;
  color: #2B2B2A !important;
}

body .list-group-item-gray {
  background-color: #454545 !important;
  color: #EF9F3C !important;
}

body #alertBannerTop {
  background-color: #EF9F3C;
}

body #moreButton {
  font-family: "Titillium Web", sans-serif;
  color: #EF9F3C;
  font-size: 1.4em;
  font-weight: 700;
}

body #moreButton:hover {
  color: #EF9F3C;
  text-decoration: none;
}

body .team-logo-300 {
  width: 100%;
  background-color: #262625;
}

body .team-logo-300-trans {
  width: 100%;
  background-color: transparent;
  border: none;
}

body .team-registration {
  padding: 1em;
}

body .team-registration label {
  color: #EF9F3C;
}

body .team-registration input {
  border-color: #EF9F3C;
  background-color: transparent;
  color: #00A0EA;
}

body .team-registration input:focus {
  background-color: #5c60a8;
  color: #EF9F3C;
}

body .team-registration .list-group-item {
  background-color: transparent;
  border-color: #EF9F3C;
}

body .team-registration .checkbox {
  color: #EF9F3C;
}

body .slide-link {
  text-decoration: none;
}

body .slide-link h1 {
  color: #FFF;
}

body .slide-link h1:hover {
  color: #EF9F3C;
}

body .btn-outline-dgl {
  background-color: transparent;
  border-color: #00A0EA;
  color: #00A0EA;
}

body .btn-outline-dgl:hover {
  background-color: #00A0EA;
  color: #FFF;
}

body .btn-dgl-contaianer {
  padding: 0;
  background-color: transparent;
  display: inline-block;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  border: 3px solid #00A0EA;
}

body .btn-dgl-contaianer:hover {
  background-color: #00A0EA;
  border-color: #00A0EA;
}

body .btn-dgl-contaianer:hover .btn-dgl {
  color: #FFF !important;
}

body .btn-dgl-contaianer-purple {
  padding: 0;
  background-color: transparent;
  display: inline-block;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  border: 3px solid #5c60a8;
}

body .btn-dgl-contaianer-purple .btn-dgl {
  color: #5c60a8 !important;
}

body .btn-dgl-contaianer-purple:hover {
  background-color: #5c60a8;
  border-color: #5c60a8;
}

body .btn-dgl-contaianer-purple:hover .btn-dgl {
  color: #FFF !important;
}

body .btn-dgl-container-gray {
  border: 3px solid #454545;
}

body .btn-dgl-container-gray:hover {
  border: 3px solid #454545;
  background-color: #454545;
}

body .btn-dgl-container-gray:hover .btn-dgl {
  color: #FFF !important;
}

body .btn-dgl-container-gray .btn-dgl {
  color: #454545 !important;
}

body .btn-dgl-container-primary {
  border: 3px solid #EF9F3C;
}

body .btn-dgl-container-primary .btn-dgl {
  color: #EF9F3C !important;
}

body .btn-dgl-container-primary:hover {
  border: 3px solid #EF9F3C;
  background-color: #EF9F3C;
}

body .btn-dgl-container-primary:hover .btn-dgl {
  color: #FFF !important;
}

body .btn-dgl {
  color: #00A0EA;
  border-width: 0;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

body .btn-dgl:hover {
  color: #FFF;
}

body .btn-dgl:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

body .btn-dgl:active {
  color: #fff;
  background-color: #ff9818;
}

body .sidebar-header {
  background-color: #5c60a8;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

body .sidebar-header h5 {
  color: #FFF;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  padding: .4em 2em;
}

body .nav .nav-link {
  color: #FFF;
}

body .nav .disabled {
  text-decoration: line-through;
}

body .nav-container {
  background-color: rgba(92, 96, 168, 0.5);
  position: relative;
  top: -40px;
  z-index: 1;
}

body .navbar {
  padding: 0 !important;
  background-color: #262625;
}

body .nav-brand a {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  vertical-align: baseline;
}

body .navbar-dgl-background {
  background-color: #454545 !important;
}

body .navbar-dgl .navbar-toggler-icon {
  background-image: url("/storage/hamburger.svg");
}

body .navbar-dgl a {
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

body .navbar-dgl a.nav-link {
  border-bottom: 5px solid transparent;
}

body .navbar-dgl a.nav-link:hover {
  color: #f3b66b;
}

body .navbar-dgl button {
  color: #FFF;
  border-color: #EAEAEB !important;
  background-color: #EF9F3C;
  margin-left: 2vw;
}

body .navbar-dgl li a {
  padding-right: 1vw !important;
  padding-left: 1vw !important;
}

body .top-banner {
  background-color: #EF9F3C;
  padding: 10px 0;
  color: #FFF;
  font-weight: 700;
}

body .title-banner-img-container {
  width: 50%;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 75px;
  max-width: 100px;
}

body .title-banner-img-container .title-banner-img {
  vertical-align: baseline;
}

body .banner-background {
  background-color: #262625;
}

body .dgl-card-img {
  width: 50%;
  display: block;
  margin: 2em auto 0 auto;
}

body .main {
  background-color: #2B2B2A;
}

body .post-body {
  padding-bottom: 1em;
  background-color: transparent;
}

body .post-body .post-link {
  text-decoration: none;
}

body .post-body .post-link .post-title {
  color: #B6B9BD;
  text-decoration: none;
  margin-top: 5px;
}

body .post-body-hover:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #EAEAEB;
  cursor: pointer;
}

body .post-body-hover:hover p {
  color: #494c88;
}

body .post-body-hover:hover .post-title {
  color: #5c60a8;
}

body .footer {
  background-color: #262625;
  padding-top: 2em;
  font-family: "Titillium Web", sans-serif;
}

body .footer a {
  color: #454545;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

body .footer a:hover {
  color: #FFF;
}

body .footer .footer-text {
  height: 25vw;
}

body .footer .footer-text .footer-list-div {
  min-width: 175px;
}

body .footer p {
  font-family: "Open Sans", "Helvetica", "Arial";
}

body .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 300px;
}

body .footer-banner-img {
  opacity: .7;
}

