@font-face {
  font-family: 'FuturaMedium';
  src: url("/fonts/FuturaLT-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINNext';
  src: url("/fonts/FuturaLT-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AaronFaces';
  src: url("/fonts/aaron-webfont.woff");
}

@font-face {
  font-family: 'CircularStd';
  src: url("/fonts/CircularStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url("/fonts/CircularStd-BookItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url("/fonts/CircularStd-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url("/fonts/CircularStd-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

.white-border {
  border-color: #FFF !important;
}

.lightgray-border {
  border-color: #CECEEB !important;
}

.mt-10 {
  margin-top: 7em;
}

.mb-10 {
  margin-bottom: 7em;
}

.pr-6 {
  padding-right: 4rem !important;
}

.font-primary-color {
  color: #60F569;
}

.font-red {
  color: #FF697D;
}

.font-gray {
  color: #454545;
}

.font-light-gray {
  color: #696b83;
}

.font-lighter-gray {
  color: #d5d5e7;
}

.font-white {
  color: #FFF;
}

.font-white p {
  color: #FFF;
}

.font-blue {
  color: #6FCDDE;
}

.font-purple {
  color: #6677CC;
}

.font-alternate-color {
  color: #89ff90;
}

.back-color-white {
  background-color: #FFF;
}

.back-color-dark {
  background-color: #272A38;
}

.back-color-red {
  background-color: #FF697D;
}

.back-color-purple {
  background-color: #6677CC;
}

.back-color-darkgray {
  background-color: #1E1F24;
}

.back-color-lightgray {
  background-color: #696b83;
}

.back-color-lightergray {
  background-color: #d5d5e7;
}

.back-color-gray-grad {
  background-image: radial-gradient(circle, #474958 0%, #696b83 100%);
}

.back-color-gray-grad:hover {
  background-image: radial-gradient(circle, #a0a1b2 0%, #757790 100%);
}

.back-color-purple-grad {
  background-image: radial-gradient(circle, #6677CC 0%, #394dac 100%);
}

.back-color-purple-grad:hover {
  background-image: radial-gradient(circle, #b3bbe6 0%, #7988d2 100%);
}

.back-color-primary-hover {
  background-color: #48f352;
  border-top: 1px solid white;
}

.back-color-primary-hover:hover {
  background-color: #30f23c;
}

.font-futura {
  font-family: "FuturaMedium", "Helvetica", "Arial" !important;
  font-weight: 600;
}

h1,
h2,
h3,
h5 {
  font-family: "Barlow Condensed", "Titillium Web", serif;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: "CircularStd", serif;
  font-size: 1em;
  color: #272A38;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #363636;
  margin: 1em 0;
  padding: 0;
}

span.scoretag {
  font-size: .8em;
  font-weight: bolder;
  border-radius: 7px;
  max-width: 75px;
  margin-left: auto;
  margin-right: auto;
}

span.scoretag.passive {
  background-color: #666;
  color: #FFF;
}

span.scoretag.active {
  background-color: #6677CC;
  color: #d5d5e7;
}

.background-a-tournament {
  background-size: cover;
}

.jumbotron-atournament {
  background-size: cover !important;
  background-position: center !important;
}

.jumbotron-atournament .tournament-name-row + div {
  height: 35vh;
}

.jumbotron-atournament::after {
  content: "";
  background-size: cover !important;
  background-position: center !important;
  opacity: 0.20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.jumbotron-fluid {
  position: relative;
  overflow: hidden;
  padding: auto;
  z-index: 1;
  color: #FFF;
  padding-bottom: 3em;
}

.jumbotron-fluid h1 {
  font-weight: 900;
}

.tournament-overview-container span {
  font-family: "Barlow Condensed", "Titillium Web", serif;
}

.dagameleague-small {
  font-family: "Titillium Web", Helvetica, Sans-Serif !important;
  font-size: 20px !important;
}

.dagameleague-med {
  font-family: "Titillium Web", Helvetica, Sans-Serif !important;
  font-weight: normal;
}

.card-widget {
  min-width: 225px;
  max-width: 250px;
}

.card .card-body {
  color: #FFF;
}

.card .card-body p {
  font-size: .9em;
}

.card .card-link {
  color: #FFF;
  font-weight: 700;
}

.card .card-text {
  color: #FFF !important;
}

.card .card-title {
  font-family: "FuturaMedium", "Helvetica", "Arial";
}

.font-primary {
  font-family: "Barlow Condensed", "Titillium Web", serif;
  font-weight: normal;
}

.faded {
  opacity: .3;
}

.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

.thumbnail {
  position: relative;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail-x {
  position: relative;
  overflow: hidden;
}

.thumbnail-x img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail-sq {
  width: 12vw;
  height: 12vw;
  min-width: 100px;
  min-height: 100px;
}

.thumbnail-rect-lg {
  width: 100vw;
  height: 24vw;
  min-width: 100px;
  min-height: 24px;
}

.thumbnail-sq-lg {
  width: 24vw;
  height: 24vw;
  min-width: 100px;
  min-height: 100px;
}

.thumbnail-rect {
  width: 20vw;
  height: 15vw;
  max-width: 300px;
  max-height: 225px;
}

.thumbnail-rect-smscreen {
  width: 86vw;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item .banner-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.carousel-item .slide-text {
  color: #6FCDDE;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 10;
}

.carousel-indicators li {
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  margin-bottom: 0;
  padding-bottom: 7px;
}

.carousel-indicators .active {
  background-color: #6FCDDE !important;
}

.carousel-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: "CircularStd", serif;
  line-height: 1.618;
}

body .tag {
  font-family: "Barlow Condensed", "Titillium Web", serif;
  font-weight: 700;
  padding: 0px 2px;
}

body .tag:hover {
  background-color: #6677CC;
}

body .video-thumbnail-link {
  text-decoration: none;
  color: #272A38;
}

body .video-thumbnail-link .video-thumbnail {
  text-decoration: none;
  position: relative;
  width: 100%;
}

body .video-thumbnail-link .video-thumbnail img {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body .video-thumbnail-link .video-thumbnail .middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

body .video-thumbnail-link .video-thumbnail .icon-container {
  background-color: transparent;
  color: #6677CC;
  font-size: 50px;
  padding: 16px 32px;
}

body .video-thumbnail-link:hover {
  color: #6677CC;
}

body .video-thumbnail-link:hover img {
  opacity: 0.3;
}

body .video-thumbnail-link:hover .middle {
  opacity: 1;
}

@media screen and (min-width: 992px) {
  body .sidebar {
    width: 301px;
  }

  body .sidebar .list-group {
    width: 301px;
  }
}

@media screen and (max-width: 991px) {
  body .sidebar .list-group {
    width: 60px;
  }
}

body .table th {
  font-family: "Barlow Condensed", "Titillium Web", serif;
  text-transform: uppercase;
}

body .fixture-table-primary {
  border: 1px solid #60F569;
}

body .fixture-table-purple {
  border: 1px solid #6677CC;
}

body .pagination {
  margin-top: 50px;
  margin-bottom: 50px;
}

body .pagination li {
  background-color: #aeafbe;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #FFF;
  -webkit-transform: skewX(-40deg);
          transform: skewX(-40deg);
}

body .pagination li span,
body .pagination li a {
  font-family: "Barlow Condensed", "Titillium Web", serif;
  -webkit-transform: skewX(40deg);
          transform: skewX(40deg);
  display: block;
  margin: auto;
  text-align: center;
  vertical-align: center;
  padding: 0 10px;
  text-decoration: none;
}

body .pagination li span {
  color: #454545;
}

body .pagination li a {
  color: #FFF;
}

body .pagination li a:hover {
  color: #6677CC;
}

body .pagination li:first-child,
body .pagination li:last-child {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #d5d5e7;
}

body .pagination li:first-child:hover,
body .pagination li:last-child:hover {
  background-color: #FF697D;
}

body .pagination li:first-child:hover a,
body .pagination li:last-child:hover a {
  color: #FFF;
}

body .pagination li.active {
  background-color: #6677CC;
}

body .pagination li.active span {
  color: #FFF;
}

body .pagination li.disabled {
  display: none;
}

body .list-group-item-primary {
  background-color: #60F569 !important;
  color: #1E1F24 !important;
}

body .list-group-item-gray {
  background-color: #454545 !important;
  color: #60F569 !important;
}

body .list-group-settings a {
  color: #6677CC;
  background-color: #FFF;
}

body .list-group-settings a.active {
  color: #FFF;
  background-color: #6FCDDE;
  border-color: #6677CC;
}

body #alertBannerTop {
  background-color: #60F569;
}

body #moreButton {
  font-family: "Barlow Condensed", "Titillium Web", serif;
  color: #6677CC;
  font-size: 1.4em;
  font-weight: 700;
}

body #moreButton:hover {
  color: #6FCDDE;
  text-decoration: none;
}

body .team-logo-300-gray {
  width: 100%;
  background-color: #d5d5e7;
}

body .team-logo-300 {
  width: 100%;
  background-color: #4d5580;
}

body .team-logo-300-trans {
  width: 100%;
  background-color: transparent;
  border: none;
}

body .team-logo-300-trans .sm-md-logo {
  min-width: 50px;
  max-width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body .team-registration {
  padding: 1em;
}

body .team-registration label {
  color: #6FCDDE;
}

body .team-registration input {
  border-color: #6FCDDE;
  background-color: transparent;
  color: #6FCDDE;
}

body .team-registration input:focus {
  background-color: #6FCDDE;
  border-color: #6677CC;
  color: #272A38;
}

body .team-registration .list-group-item {
  background-color: transparent;
  border-color: #60F569;
}

body .team-registration .checkbox {
  color: #60F569;
}

body .btn-outline-dgl {
  background-color: transparent;
  border-color: #6FCDDE;
  color: #6FCDDE;
}

body .btn-outline-dgl:hover {
  background-color: #6FCDDE;
  color: #FFF;
}

body .btn-dgl-contaianer {
  padding: 0;
  background-color: transparent;
  display: inline-block;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  border: 3px solid #6FCDDE;
}

body .btn-dgl-contaianer:hover {
  background-color: #6FCDDE;
  border-color: #6FCDDE;
}

body .btn-dgl-contaianer:hover .btn-dgl {
  color: #FFF !important;
}

body .btn-dgl-contaianer-purple {
  padding: 0;
  background-color: transparent;
  display: inline-block;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  border: 3px solid #6677CC;
}

body .btn-dgl-contaianer-purple .btn-dgl {
  color: #6677CC !important;
}

body .btn-dgl-contaianer-purple:hover {
  background-color: #6677CC;
  border-color: #6677CC;
}

body .btn-dgl-contaianer-purple:hover .btn-dgl {
  color: #FFF !important;
}

body .btn-dgl-container-gray {
  border: 3px solid #454545;
}

body .btn-dgl-container-gray:hover {
  border: 3px solid #454545;
  background-color: #454545;
}

body .btn-dgl-container-gray:hover .btn-dgl {
  color: #FFF !important;
}

body .btn-dgl-container-gray .btn-dgl {
  color: #454545 !important;
}

body .btn-dgl-container-primary {
  border: 3px solid #60F569;
}

body .btn-dgl-container-primary .btn-dgl {
  color: #60F569 !important;
}

body .btn-dgl-container-primary:hover {
  border: 3px solid #60F569;
  background-color: #60F569;
}

body .btn-dgl-container-primary:hover .btn-dgl {
  color: #6677CC !important;
}

body .btn-dgl {
  color: #6FCDDE;
  border-width: 0;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  font-family: "Barlow Condensed", "Titillium Web", serif;
  font-weight: bold;
}

body .btn-dgl:hover {
  color: #FFF;
}

body .btn-dgl:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

body .btn-dgl:active {
  color: #fff;
  background-color: #42ff4d;
}

body .sidebar-header {
  background-color: #6677CC;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

body .sidebar-header h5 {
  color: #FFF;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  padding: .4em 2em;
}

body .nav .disabled {
  text-decoration: line-through !important;
  color: #454545;
}

body .nav-container {
  background-color: #6677CC;
  position: relative;
  top: -40px;
  z-index: 1;
}

body .nav-container a {
  color: #FFF;
}

body .nav-container a:hover {
  color: #6FCDDE;
}

body .nav-container a.active {
  color: #60F569;
}

body .navbar {
  padding: 0 !important;
  background-color: #262625;
}

body .navbar .dropdown-item {
  font-family: FuturaMedium, "CircularStd", serif;
  font-size: .7em;
}

body .navbar .dropdown-item:hover {
  background-color: #FF697D;
  color: #FFF;
}

body .nav-brand a {
  font-family: "Barlow Condensed", "Titillium Web", serif;
  font-weight: 900;
  vertical-align: baseline;
}

body .navbar-dgl {
  background-color: #1E1F24 !important;
}

body .navbar-dgl .navbar-brand {
  margin: 0;
}

body .navbar-dgl .navbar-toggler-icon {
  background-image: url("/storage/hamburger.svg");
}

body .navbar-dgl .navbar-text {
  font-family: "Barlow Condensed", "Titillium Web", serif;
  font-size: 1.2em;
}

body .navbar-dgl a {
  color: #FFF;
  font-family: "Barlow Condensed", "Titillium Web", serif;
  text-transform: uppercase;
  text-decoration: none;
}

body .navbar-dgl a.nav-link {
  font-family: FuturaMedium, "CircularStd", serif;
  border-bottom: 5px solid transparent;
  font-size: .8em;
}

body .navbar-dgl a.nav-link:hover {
  color: #6FCDDE;
}

body .navbar-dgl button {
  color: #FFF;
  border-color: #696b83 !important;
  background-color: #6677CC;
  margin-left: 2vw;
}

body .navbar-dgl li a {
  padding-right: 1vw !important;
  padding-left: 1vw !important;
}

body .jumbotron-fluid h1 {
  color: #6677CC;
  text-transform: uppercase;
}

body .jumbotron-fluid p {
  color: #696b83;
}

body .top-banner {
  background-color: #60F569;
  padding: 10px 0;
  color: #FFF;
  font-weight: 700;
}

body .banner-row {
  margin-top: 50px;
}

body .banner-row .banner-row-background {
  width: 100%;
  z-index: -2;
  position: relative;
}

body .banner-row h1 {
  font-family: "Barlow Condensed", "Titillium Web", serif;
  font-weight: 700;
  font-size: 3rem;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 10%;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: -3px 0 #474d55, 0 3px #474d55, 3px 0 #474d55, 0 -3px #474d55;
}

body .banner-row .banner-icon {
  position: absolute;
  z-index: 2;
  top: 40%;
  right: 10%;
}

body .title-banner-img-container {
  width: 50%;
  padding-bottom: 10px;
  padding-top: 10px;
  min-width: 75px;
  max-width: 100px;
}

body .title-banner-img-container .title-banner-img {
  vertical-align: baseline;
}

body .banner-background {
  background-color: #262625;
}

body .dgl-card-img {
  width: 50%;
  display: block;
  margin: 2em auto 0 auto;
}

body .main {
  background-color: #FFF;
}

body .post-body {
  padding-bottom: 1em;
  background-color: transparent;
}

body .post-body .post-link {
  text-decoration: none;
}

body .post-body .post-link .post-title {
  color: #454545;
  text-decoration: none;
  margin-top: 5px;
}

body .post-body-hover:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFF;
  border: 1px solid #6677CC;
  cursor: pointer;
}

body .post-body-hover:hover .post-title {
  color: #6677CC;
}

body .footer {
  background-color: #1E1F24;
  padding-top: 2em;
  font-family: "Barlow Condensed", "Titillium Web", serif;
}

body .footer h5 {
  font-family: "FuturaMedium", "Barlow Condensed", "Titillium Web", serif;
  font-size: 1rem;
}

body .footer a {
  color: #454545;
  font-family: "CircularStd", serif;
  text-decoration: none;
}

body .footer a:hover {
  color: #FFF;
}

body .footer .footer-text {
  height: 25vw;
}

body .footer .footer-text .footer-list-div {
  min-width: 175px;
}

body .footer p {
  font-family: "FuturaMedium", "CircularStd", serif;
}

body #footerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 300px;
}

body .footer-banner-img {
  opacity: .7;
}

